{{! Sheet Header }}
<header class='sheet-header'>
    <img class='profile-img'
         src='{{actor.img}}'
         data-edit='img'
         data-action='onEditImage'
         title='{{actor.name}}'
         height='100'
         width='100'
    />
    <div class='header-fields'>
        <div class='document-name'>
            <input name='name'
                   type='text'
                   value='{{actor.name}}'
                   placeholder='Name'
            />
        </div>
        <div class='document-description'>
            <input name='system.description'
                   type='text'
                   value='{{system.description}}'
                   placeholder='Description'
            />
        </div>
    </div>
</header>