<header class='sheet-header'>
    <img
            class='profile-img'
            src='{{item.img}}'
            data-edit='img'
            data-action='onEditImage'
            title='{{item.name}}'
    />
    <div class='header-fields'>
        <div class='document-name'>
            <input name='name' type='text' value='{{item.name}}' placeholder='Name'/>
        </div>
        <div class='document-description'>
            <input name='description'
                   type='text'
                   value='{{system.description}}'
                   placeholder='Description'
            />
        </div>
    </div>
</header>